# This requirements file lists all third-party dependencies for this project.
#
# Run 'pip install -r requirements.txt -t lib/' to install these dependencies
# in `lib/` subdirectory.
#
# Note: The `lib` directory is added to `sys.path` by `appengine_config.py`.
chardet==2.3.0
click==6.7
colorama==0.3.2
enum-compat==0.0.2
eventlet==0.21.0
Flask==0.12.1
Flask-Login==0.4.0
flask-paginate==0.4.5
Flask-SocketIO==2.8.6
Flask-WTF==0.14.2
greenlet==0.4.12
html5lib==0.999
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
olefile==0.44
Pillow==4.1.0
pymongo==3.4.0
python-engineio==1.4.0
python-socketio==1.7.4
requests==2.4.3
six==1.10.0
urllib3==1.9.1
Werkzeug==0.12.1
WTForms==2.1
xpinyin==0.5.5